<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_SVVUsLaZEeef4KXvt0hZZQ" specification="interface:&#xA;&#xA;// Eventos&#xA;in event evModo&#xA;in event evStartStop&#xA;&#xA;in event evPuertaAbierta&#xA;in event evPuertaCerrada&#xA;&#xA;var estado: boolean&#xA;&#xA;// Acciones&#xA;operation aEncerderLuz():void&#xA;operation aApagarLuz():void&#xA;operation aLed(modo:integer):void&#xA;operation aEnciendeHorno(modo:integer):void&#xA;&#xA;// Constantes&#xA;const ENCENDIDO:boolean = true&#xA;const APAGADO:boolean = false&#xA;&#xA;const OFF:integer = 0&#xA;const HORNO:integer = 1&#xA;const GRILL:integer = 2&#xA;const HORNOGRILL:integer = 3&#xA;&#xA;&#xA;internal:&#xA;&#xA;var viModo: integer" name="Microondas">
    <regions xmi:id="_zBLYcLacEeef4KXvt0hZZQ" name="main region">
      <vertices xsi:type="sgraph:State" xmi:id="_0mV_cLacEeef4KXvt0hZZQ" specification="entry/ estado = APAGADO" name="REPOSO" incomingTransitions="_tMMFkLadEeef4KXvt0hZZQ _Lo2KcJJIEeqcDt89sheiBA _Vj2bAJJIEeqcDt89sheiBA">
        <outgoingTransitions xmi:id="_JoFzoJJIEeqcDt89sheiBA" specification="evStartStop" target="_lVzHYJC0EeqkHMMR97AaTQ"/>
        <outgoingTransitions xmi:id="_NaEQcJJIEeqcDt89sheiBA" specification="evPuertaAbierta" target="_3gjGwLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lVzHYJC0EeqkHMMR97AaTQ" specification="entry/ estado = ENCENDIDO&#xD;&#xA;entry/ aEnciendeHorno(viModo)&#xD;&#xA;entry/ aLed(viModo)&#xD;&#xA;entry/ aEncerderLuz()&#xD;&#xA;exit / aEnciendeHorno(OFF)&#xD;&#xA;exit/ aLed(OFF)&#xD;&#xA;exit/ aApagarLuz()" name="FUNCIONAMIENTO" incomingTransitions="_JoFzoJJIEeqcDt89sheiBA _QXV54JJIEeqcDt89sheiBA">
        <outgoingTransitions xmi:id="_Lo2KcJJIEeqcDt89sheiBA" specification="evStartStop" target="_0mV_cLacEeef4KXvt0hZZQ"/>
        <outgoingTransitions xmi:id="_SOb-YJJIEeqcDt89sheiBA" specification="evPuertaAbierta" target="_3gjGwLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_3gjGwLacEeef4KXvt0hZZQ" specification="entry/ aEncerderLuz()&#xD;&#xA;exit/ aApagarLuz()" name="PUERTA ABIERTA" incomingTransitions="_NaEQcJJIEeqcDt89sheiBA _SOb-YJJIEeqcDt89sheiBA">
        <outgoingTransitions xmi:id="_QXV54JJIEeqcDt89sheiBA" specification="evPuertaCerrada [estado == ENCENDIDO]" target="_lVzHYJC0EeqkHMMR97AaTQ"/>
        <outgoingTransitions xmi:id="_Vj2bAJJIEeqcDt89sheiBA" specification="evPuertaCerrada [estado == APAGADO]" target="_0mV_cLacEeef4KXvt0hZZQ"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_rvooALadEeef4KXvt0hZZQ">
        <outgoingTransitions xmi:id="_tMMFkLadEeef4KXvt0hZZQ" specification="" target="_0mV_cLacEeef4KXvt0hZZQ"/>
      </vertices>
    </regions>
    <regions xmi:id="_7SHvcJJOEeqcDt89sheiBA" name="Modo">
      <vertices xsi:type="sgraph:State" xmi:id="_7SHvcZJOEeqcDt89sheiBA" specification="entry/ viModo = HORNO" name="HORNO" incomingTransitions="_7SJkoJJOEeqcDt89sheiBA _n5srcJYuEeqdbfWSB8gIMQ">
        <outgoingTransitions xmi:id="_7SI9kJJOEeqcDt89sheiBA" specification="evModo [estado == APAGADO]" target="_7SJkqJJOEeqcDt89sheiBA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7SI9lJJOEeqcDt89sheiBA" specification="entry/ viModo = HORNOGRILL" name="HORNO+GRILL" incomingTransitions="_7SJkqpJOEeqcDt89sheiBA">
        <outgoingTransitions xmi:id="_7SJkoJJOEeqcDt89sheiBA" specification="evModo [estado == APAGADO]" target="_7SHvcZJOEeqcDt89sheiBA"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_7SJkqJJOEeqcDt89sheiBA" specification="entry/ viModo = GRILL" name="GRILL" incomingTransitions="_7SI9kJJOEeqcDt89sheiBA">
        <outgoingTransitions xmi:id="_7SJkqpJOEeqcDt89sheiBA" specification="evModo [estado == APAGADO]" target="_7SI9lJJOEeqcDt89sheiBA"/>
      </vertices>
      <vertices xsi:type="sgraph:Entry" xmi:id="_7SJkupJOEeqcDt89sheiBA">
        <outgoingTransitions xmi:id="_n5srcJYuEeqdbfWSB8gIMQ" specification="" target="_7SHvcZJOEeqcDt89sheiBA"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_SVY_ELaZEeef4KXvt0hZZQ" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_SVVUsLaZEeef4KXvt0hZZQ" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_SVd3l7aZEeef4KXvt0hZZQ" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_SVeeoLaZEeef4KXvt0hZZQ" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SVeeobaZEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SVeeoraZEeef4KXvt0hZZQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_SVeeo7aZEeef4KXvt0hZZQ" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SVeepLaZEeef4KXvt0hZZQ"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_SVeepbaZEeef4KXvt0hZZQ" x="7" y="10" width="408" height="466"/>
    </children>
    <children xmi:id="_zBNNoLacEeef4KXvt0hZZQ" type="Region" element="_zBLYcLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_zBN0sLacEeef4KXvt0hZZQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zBN0sbacEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zBN0sracEeef4KXvt0hZZQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_zBObwLacEeef4KXvt0hZZQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_0mYbsLacEeef4KXvt0hZZQ" type="State" element="_0mV_cLacEeef4KXvt0hZZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_0mZCwLacEeef4KXvt0hZZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_0mZCwbacEeef4KXvt0hZZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_0mZCwracEeef4KXvt0hZZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0mZCw7acEeef4KXvt0hZZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_0mZCxLacEeef4KXvt0hZZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0mZCxbacEeef4KXvt0hZZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_0mZCxracEeef4KXvt0hZZQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_0mYbsbacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_0mYbsracEeef4KXvt0hZZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_0mZCx7acEeef4KXvt0hZZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_0mYbs7acEeef4KXvt0hZZQ" x="178" y="-47" width="208" height="53"/>
        </children>
        <children xmi:id="_lVlsAJC0EeqkHMMR97AaTQ" type="State" element="_lVzHYJC0EeqkHMMR97AaTQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_lVx5QJC0EeqkHMMR97AaTQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lVx5QpC0EeqkHMMR97AaTQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lVx5QZC0EeqkHMMR97AaTQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lVrLkJC0EeqkHMMR97AaTQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lVwrIJC0EeqkHMMR97AaTQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lVxSMJC0EeqkHMMR97AaTQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lVqkgJC0EeqkHMMR97AaTQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lVpWYZC0EeqkHMMR97AaTQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lVpWYJC0EeqkHMMR97AaTQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lVoIQJC0EeqkHMMR97AaTQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lVm6IJC0EeqkHMMR97AaTQ" x="156" y="60" width="235" height="133"/>
        </children>
        <children xmi:id="_3gmxILacEeef4KXvt0hZZQ" type="State" element="_3gjGwLacEeef4KXvt0hZZQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_3gnYM7acEeef4KXvt0hZZQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_3gnYNLacEeef4KXvt0hZZQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_3gnYNbacEeef4KXvt0hZZQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3gnYNracEeef4KXvt0hZZQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_3gnYN7acEeef4KXvt0hZZQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3gnYOLacEeef4KXvt0hZZQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_3gn_QLacEeef4KXvt0hZZQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_3gnYMLacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_3gnYMbacEeef4KXvt0hZZQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_3gn_QbacEeef4KXvt0hZZQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_3gnYMracEeef4KXvt0hZZQ" x="523" y="11" width="231" height="72"/>
        </children>
        <children xmi:id="_rvv8wLadEeef4KXvt0hZZQ" type="Entry" element="_rvooALadEeef4KXvt0hZZQ">
          <children xmi:id="_rvxK4LadEeef4KXvt0hZZQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_rvxK47adEeef4KXvt0hZZQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_rvxK5LadEeef4KXvt0hZZQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_rvxK5badEeef4KXvt0hZZQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_rvxK4badEeef4KXvt0hZZQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rvxK4radEeef4KXvt0hZZQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_rvv8wbadEeef4KXvt0hZZQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_rvv8wradEeef4KXvt0hZZQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_rvv8w7adEeef4KXvt0hZZQ" x="6" y="-31"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zBObwbacEeef4KXvt0hZZQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_zBNNobacEeef4KXvt0hZZQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_zBNNoracEeef4KXvt0hZZQ" x="424" y="8" width="792" height="288"/>
    </children>
    <children xmi:id="_7SEsIJJOEeqcDt89sheiBA" type="Region" element="_7SHvcJJOEeqcDt89sheiBA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7SEsIZJOEeqcDt89sheiBA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsIpJOEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7SEsI5JOEeqcDt89sheiBA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_7SEsJJJOEeqcDt89sheiBA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_7SEsJZJOEeqcDt89sheiBA" type="State" element="_7SHvcZJOEeqcDt89sheiBA">
          <children xsi:type="notation:DecorationNode" xmi:id="_7SEsJpJOEeqcDt89sheiBA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsJ5JOEeqcDt89sheiBA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7SEsKJJOEeqcDt89sheiBA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7SEsKZJOEeqcDt89sheiBA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7SEsKpJOEeqcDt89sheiBA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsK5JOEeqcDt89sheiBA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7SEsLJJOEeqcDt89sheiBA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsLZJOEeqcDt89sheiBA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7SEsLpJOEeqcDt89sheiBA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7SEsL5JOEeqcDt89sheiBA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsMJJOEeqcDt89sheiBA" x="178" y="-47" width="208" height="64"/>
        </children>
        <children xmi:id="_7SEsMZJOEeqcDt89sheiBA" type="State" element="_7SI9lJJOEeqcDt89sheiBA">
          <children xsi:type="notation:DecorationNode" xmi:id="_7SEsMpJOEeqcDt89sheiBA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsM5JOEeqcDt89sheiBA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7SEsNJJOEeqcDt89sheiBA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7SEsNZJOEeqcDt89sheiBA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7SEsNpJOEeqcDt89sheiBA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsN5JOEeqcDt89sheiBA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7SEsOJJOEeqcDt89sheiBA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsOZJOEeqcDt89sheiBA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7SEsOpJOEeqcDt89sheiBA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7SEsO5JOEeqcDt89sheiBA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsPJJOEeqcDt89sheiBA" x="700" y="-42" width="235" height="63"/>
        </children>
        <children xmi:id="_7SEsPZJOEeqcDt89sheiBA" type="State" element="_7SJkqJJOEeqcDt89sheiBA">
          <children xsi:type="notation:DecorationNode" xmi:id="_7SEsPpJOEeqcDt89sheiBA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsP5JOEeqcDt89sheiBA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_7SEsQJJOEeqcDt89sheiBA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7SEsQZJOEeqcDt89sheiBA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_7SEsQpJOEeqcDt89sheiBA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsQ5JOEeqcDt89sheiBA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_7SEsRJJOEeqcDt89sheiBA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsRZJOEeqcDt89sheiBA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_7SEsRpJOEeqcDt89sheiBA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_7SEsR5JOEeqcDt89sheiBA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsSJJOEeqcDt89sheiBA" x="440" y="-48" width="181" height="65"/>
        </children>
        <children xmi:id="_7SEsSZJOEeqcDt89sheiBA" type="Entry" element="_7SJkupJOEeqcDt89sheiBA">
          <children xmi:id="_7SEsSpJOEeqcDt89sheiBA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_7SEsS5JOEeqcDt89sheiBA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsTJJOEeqcDt89sheiBA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_7SEsTZJOEeqcDt89sheiBA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsTpJOEeqcDt89sheiBA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsT5JOEeqcDt89sheiBA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsUJJOEeqcDt89sheiBA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_7SEsUZJOEeqcDt89sheiBA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsUpJOEeqcDt89sheiBA" x="83" y="-22"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsU5JOEeqcDt89sheiBA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_7SEsVJJOEeqcDt89sheiBA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7SEsVZJOEeqcDt89sheiBA" x="424" y="314" width="959" height="142"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_SVY_EbaZEeef4KXvt0hZZQ"/>
    <edges xmi:id="_tMPI4LadEeef4KXvt0hZZQ" type="Transition" element="_tMMFkLadEeef4KXvt0hZZQ" source="_rvv8wLadEeef4KXvt0hZZQ" target="_0mYbsLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_tMPv8LadEeef4KXvt0hZZQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_tMPv8badEeef4KXvt0hZZQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_tMPv8radEeef4KXvt0hZZQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_tMPI4badEeef4KXvt0hZZQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_tMPI47adEeef4KXvt0hZZQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_tMPI4radEeef4KXvt0hZZQ" points="[7, 0, -170, -17]$[68, 0, -109, -17]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_FtH0AJC1EeqkHMMR97AaTQ" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_JoJeAJJIEeqcDt89sheiBA" type="Transition" element="_JoFzoJJIEeqcDt89sheiBA" source="_0mYbsLacEeef4KXvt0hZZQ" target="_lVlsAJC0EeqkHMMR97AaTQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_JoLTMJJIEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_JoLTMZJIEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_JoLTMpJIEeqcDt89sheiBA" x="47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_JoJeAZJIEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_JoKsIJJIEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_JoJeApJIEeqcDt89sheiBA" points="[0, 0, 21, -67]$[0, 29, 21, -38]$[-7, 29, 14, -38]$[-7, 59, 14, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JoOWgJJIEeqcDt89sheiBA" id="(0.9038461538461539,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_JoOWgZJIEeqcDt89sheiBA" id="(0.8042553191489362,0.0632029458139607)"/>
    </edges>
    <edges xmi:id="_Lo3YkJJIEeqcDt89sheiBA" type="Transition" element="_Lo2KcJJIEeqcDt89sheiBA" source="_lVlsAJC0EeqkHMMR97AaTQ" target="_0mYbsLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Lo3_oJJIEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Lo3_oZJIEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Lo3_opJIEeqcDt89sheiBA" y="-44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Lo3YkZJIEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Lo3Yk5JIEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Lo3YkpJIEeqcDt89sheiBA" points="[9, 0, 1, 82]$[9, -59, 1, 23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Lo500JJIEeqcDt89sheiBA" id="(0.1829787234042553,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Lo500ZJIEeqcDt89sheiBA" id="(0.13942307692307693,0.5283018867924528)"/>
    </edges>
    <edges xmi:id="_NaE3gJJIEeqcDt89sheiBA" type="Transition" element="_NaEQcJJIEeqcDt89sheiBA" source="_0mYbsLacEeef4KXvt0hZZQ" target="_3gmxILacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_NaFekZJIEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_NaFekpJIEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_NaFek5JIEeqcDt89sheiBA" x="-9" y="-61"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_NaE3gZJIEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_NaFekJJIEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_NaE3gpJIEeqcDt89sheiBA" points="[21, -22, -189, -49]$[86, -22, -124, -49]$[86, 21, -124, -6]$[163, 21, -47, -6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NaH60JJIEeqcDt89sheiBA" id="(0.8990384615384616,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_NaH60ZJIEeqcDt89sheiBA" id="(0.21212121212121213,0.2555137170521786)"/>
    </edges>
    <edges xmi:id="_QXXvEJJIEeqcDt89sheiBA" type="Transition" element="_QXV54JJIEeqcDt89sheiBA" source="_3gmxILacEeef4KXvt0hZZQ" target="_lVlsAJC0EeqkHMMR97AaTQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_QXZkQJJIEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QXZkQZJIEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QXZkQpJIEeqcDt89sheiBA" x="3" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QXXvEZJIEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QXY9MJJIEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QXXvEpJIEeqcDt89sheiBA" points="[-35, -1, 140, -21]$[-104, -1, 71, -21]$[-104, 20, 71, 0]$[-172, 20, 3, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QXcnkJJIEeqcDt89sheiBA" id="(0.15584415584415584,0.7396449704142013)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QXdOoJJIEeqcDt89sheiBA" id="(0.9872340425531915,0.16151863930234403)"/>
    </edges>
    <edges xmi:id="_SOdMgJJIEeqcDt89sheiBA" type="Transition" element="_SOb-YJJIEeqcDt89sheiBA" source="_lVlsAJC0EeqkHMMR97AaTQ" target="_3gmxILacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_SOdzkJJIEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_SOdzkZJIEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_SOdzkpJIEeqcDt89sheiBA" x="10" y="9"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_SOdMgZJIEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_SOdMg5JIEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_SOdMgpJIEeqcDt89sheiBA" points="[21, -4, -236, 49]$[214, -4, -43, 49]$[214, -31, -43, 22]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SOgP0JJIEeqcDt89sheiBA" id="(0.9106382978723404,0.3862402244186488)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_SOgP0ZJIEeqcDt89sheiBA" id="(0.44155844155844154,0.685852608929532)"/>
    </edges>
    <edges xmi:id="_Vj3CEJJIEeqcDt89sheiBA" type="Transition" element="_Vj2bAJJIEeqcDt89sheiBA" source="_3gmxILacEeef4KXvt0hZZQ" target="_0mYbsLacEeef4KXvt0hZZQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_Vj3pIJJIEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Vj3pIZJIEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Vj3pIpJIEeqcDt89sheiBA" x="-7" y="11"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Vj3CEZJIEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Vj3CE5JIEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Vj3CEpJIEeqcDt89sheiBA" points="[63, -30, 218, 56]$[63, -79, 218, 7]$[-142, -79, 13, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Vj6scJJIEeqcDt89sheiBA" id="(0.0,0.44378698224852076)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Vj6scZJIEeqcDt89sheiBA" id="(0.9375,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_7SMA6ZJOEeqcDt89sheiBA" type="Transition" element="_7SJkoJJOEeqcDt89sheiBA" source="_7SEsMZJOEeqcDt89sheiBA" target="_7SEsJZJOEeqcDt89sheiBA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7SMA6pJOEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7SMA65JOEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7SMA7JJOEeqcDt89sheiBA" x="22" y="6"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7SMA7ZJOEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7SMA7pJOEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7SMA75JOEeqcDt89sheiBA" points="[67, 0, 603, -20]$[67, -21, 603, -41]$[-453, -21, 83, -41]$[-453, -5, 83, -25]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SMA8JJOEeqcDt89sheiBA" id="(0.1829787234042553,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SMA8ZJOEeqcDt89sheiBA" id="(0.13942307692307693,0.42835288118306986)"/>
    </edges>
    <edges xmi:id="_7SMA8pJOEeqcDt89sheiBA" type="Transition" element="_7SI9kJJOEeqcDt89sheiBA" source="_7SEsJZJOEeqcDt89sheiBA" target="_7SEsPZJOEeqcDt89sheiBA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7SMA85JOEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7SMA9JJOEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7SMA9ZJOEeqcDt89sheiBA" x="2" y="36"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7SMA9pJOEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7SMA95JOEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7SMA-JJOEeqcDt89sheiBA" points="[21, -22, -189, -49]$[204, -22, -6, -49]$[204, 10, -6, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SMA-ZJOEeqcDt89sheiBA" id="(0.8990384615384616,0.8108108108108107)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SMA-pJOEeqcDt89sheiBA" id="(0.27176527176527177,0.2859723058398555)"/>
    </edges>
    <edges xmi:id="_7SMn8JJOEeqcDt89sheiBA" type="Transition" element="_7SJkqpJOEeqcDt89sheiBA" source="_7SEsPZJOEeqcDt89sheiBA" target="_7SEsMZJOEeqcDt89sheiBA">
      <children xsi:type="notation:DecorationNode" xmi:id="_7SMn8ZJOEeqcDt89sheiBA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7SMn8pJOEeqcDt89sheiBA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7SMn85JOEeqcDt89sheiBA" y="44"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7SMn9JJOEeqcDt89sheiBA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7SMn9ZJOEeqcDt89sheiBA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7SMn9pJOEeqcDt89sheiBA" points="[141, -8, -311, 15]$[225, -8, -227, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SMn95JOEeqcDt89sheiBA" id="(0.19966428129693436,0.8278145695364238)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7SMn-JJOEeqcDt89sheiBA" id="(0.9872340425531915,0.36050156739811906)"/>
    </edges>
    <edges xmi:id="_n5wV0JYuEeqdbfWSB8gIMQ" type="Transition" element="_n5srcJYuEeqdbfWSB8gIMQ" source="_7SEsSZJOEeqcDt89sheiBA" target="_7SEsJZJOEeqcDt89sheiBA">
      <children xsi:type="notation:DecorationNode" xmi:id="_n5yyEJYuEeqdbfWSB8gIMQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_n5yyEZYuEeqdbfWSB8gIMQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_n5zZIJYuEeqdbfWSB8gIMQ" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_n5w84JYuEeqdbfWSB8gIMQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_n5xj8JYuEeqdbfWSB8gIMQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_n5w84ZYuEeqdbfWSB8gIMQ" points="[0, 0, 55, 242]$[-54, -227, 1, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n53DgJYuEeqdbfWSB8gIMQ" id="(0.0,0.2)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_n53DgZYuEeqdbfWSB8gIMQ" id="(0.038461538461538464,0.796875)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
